{% assign recommendations = site.data.data.recommendations %}
{% if recommendations %}
<section class="recommendations">
    <h2 class="title">LinkedIn Recommendations</h2>
    <div class="recommendations-items">
        {% for pub in recommendations%}
            <div class="recommendations-item">
                <div class="recommendations-text">
                    {{pub.text}}</a>
                </div>
                <div class="authors">- {{pub.authors}}</div> 
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}
