.recommendations {
    .title {
        @include header;
    }
    .recommendation-additional {
        text-decoration: none;
        @include body-text; 
    }
    .recommendation-items {
        .recommendation-item {
            margin-bottom: 20px;
            .recommendation-text {
                text-decoration: none;
                @include body-text; 
            }
            .authors {
                font-style: italic;
                font-weight: bold;
                @include body-text;
            }
        }
    }
}
