.recommendations {
    .title {
        @include header;
    }
    .recommendation-items {
        .recommendation-item {
            margin-bottom: 20px;
            .recommendation-text{
                a {
                    text-decoration: none;
                    @include body-text; 
                }
            }
            .authors {
                @include body-text;
                font-style: italic;
                font-weight: bold;
            }
            .conference {
                @include body-text; 
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
    }
}
